.chatBox{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.chatBoxMiddle{
    box-sizing: border-box;
    width: 600px;
    height: 800px;
    background-color: #EAF4FF;
    padding: 20px;
}
.item{

}
.myItem{
    text-align: right;
}
.msgContainer{
    display: inline-block;
    padding: 10px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    max-width: 70%;
}
.myMsgContainer{
    background-color: #0CFE24;
}
.msg{
    word-break: break-all;
    font-size: 16px;
    line-height: 21px;
}
.myMsg{
    text-align: left;
}